.collidable1{
  -fx-background-color: rgb(100,200,100);
}

.collidable2{
  -fx-background-color: rgb(255,255,255);
}

.collidable3{
  -fx-background-color: rgb(0,0,0);
}

.collidable4{
  -fx-background-color: rgb(0,0,0);
}

.collidable5{
  -fx-background-color: rgb(0,0,0);
}

.collidable6{
  -fx-background-color: rgb(0,0,0);
}

.collidable7{
  -fx-background-color: rgb(0,0,0);
}