.root {
  -fx-background-color: black;
}

.list-cell {
  -fx-text-fill: #FF851B;
  -fx-alignment: center;
}

.title-button {
  -fx-background-color: #FF851B;
  -fx-text-fill: #ffffff;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 50px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(256, 256, 256, 0.3), 10, 0.5, 3, 3);
}

.game-button {
  -fx-background-color: #0074D9;
  -fx-text-fill: #ffffff;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(256, 256, 256, 0.3), 10, 0.5, 3, 3);
}

.game-text {
  -fx-fill: #0074D9;;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 30px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(256, 256, 256, 0.3), 5, 0.5, 3, 3);
}

.title-text {
  -fx-fill: #0074D9;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 100px;
  -fx-font-weight: bold;
  -fx-alignment: center;
  -fx-effect: dropshadow(three-pass-box, rgba(256, 256, 256, 0.3), 10, 0.5, 3, 3);
}

.menu-game-options {
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 30px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(256, 256, 256, 0.3), 10, 0.5, 3, 3);
}

.pause-sheen {
  -fx-fill: #f0f0f0;
  -fx-opacity: 0.75;
}

.score-list {
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(256, 256, 256, 0.3), 10, 0.5, 3, 3);
}

.power-outline {
  -fx-fill: darkgrey;
  -fx-effect: dropshadow(three-pass-box, rgba(256, 256, 256, 0.3), 10, 0.5, 3, 3);
}

.power-bar {
  -fx-fill: #FF851B;
}

.angle-arrow {
  -fx-fill: #FF851B;
}


