.root {
  -fx-background-color: #F5F7A1;
}

.list-cell {
  -fx-text-fill: #FF69B4;
  -fx-alignment: center;
}

.title-button {
  -fx-background-color: #FF69B4;
  -fx-text-fill: #ffffff;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 50px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 3, 3);
}

.game-button {
  -fx-background-color: #00FFFF;
  -fx-text-fill: #ffffff;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 3, 3);
}

.game-text {
  -fx-fill: #00FFFF;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 30px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 3, 3);
}

.instructions-text {
  -fx-fill: #FF69B4;;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 30px;
  -fx-font-weight: bold;
  -fx-text-alignment: center;
}

.title-text {
  -fx-fill: #00FFFF;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 100px;
  -fx-font-weight: bold;
  -fx-alignment: center;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 3, 3);
}

.menu-game-options {
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 30px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 3, 3);
}

.pause-sheen {
  -fx-fill: #f0f0f0;
  -fx-opacity: 0.75;
}

.score-list {
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 3, 3);
}

.power-outline {
  -fx-fill: darkgrey;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 3, 3);
}

.power-bar {
  -fx-fill: #FF69B4;
}

.angle-arrow {
  -fx-fill: #FF69B4;
}

.mod-selection-box {
  -fx-background-color: #00FFFF;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 15px;
  -fx-text-fill: white;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 3, 3);
}

.mod-selection-box .list-cell {
  -fx-background-color: #00FFFF;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 15px;
  -fx-text-fill: white;
}

.theme-selection-box {
  -fx-background-color: #00FFFF;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 25px;
  -fx-text-fill: white;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 3, 3);
}

.theme-selection-box .list-cell {
  -fx-background-color: #00FFFF;
  -fx-font-family: "Impact", "Arial", sans-serif;
  -fx-font-size: 25px;
  -fx-text-fill: white;
}


